{% extends "layout.html" %}
{% block title %}ContNext Viewer—Network Graph{% endblock %}

{% block scripts %}
    {% include "dependencies/jquery_dependencies.html" %}

	<!-- Block for Network dependencies -->

    {% include "dependencies/graph_css.html" %}
    {% include "dependencies/graph_js.html" %}

	<script type="text/javascript">
        // If graph data render the graph
		let network = {{ network_json | safe }};
    </script>

    <script type="text/javascript" src='{{ url_for('static', filename='js/manyBodyReuse.js') }}'></script>
	<script src="{{ url_for('static', filename='js/graph_controller.js') }}"></script>

{% endblock %}


{% block content %}
<head>
    <title>Network Graph Explorer</title>
</head>
<body>

<div class="container container-fluid" style="max-width: 90%">
	<div class="card container-results">
		<header class="card-header-results">Results</header>
		<div class="card-results-body">
			<p class="text-left" style="padding-left:10px">
			Network ID: <bold>{{ network_id }}</bold><br>
			Node: <bold>{{ node }}</bold><br>
			</p>
		</div>
	</div>

	<div class="row" style="margin-right: 0; margin-bottom:20px; margin-top:20px"><!-- visualization row -->
		<div class="col-8">
			<div id="graph-chart"></div>
		</div>
		<div class="card-results col" id="panel">

			<!-- Nav tabs -->
			<ul class="nav nav-pills">
				<li class="nav-item-results" style="width:50%">
					<a class="nav-link-results" data-bs-toggle="tab" href="#nodes-panel">Nodes</a>
				</li>
				<li class="nav-item-results>">
					<a class="nav-link-results" data-bs-toggle="tab" href="#edges-panel">Edges</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane not-rounded active" id="nodes-panel" role="tabpanel">
					<div class="input-group form-inline">
						<button class='btn btn-custom-1' id='get-checked-nodes'>Show</button>
						<input placeholder="Search nodes" id="node-search" class="form-control not-rounded"
						   aria-describedby="sizing-addon1" type="text"/>
						<button class='btn btn-custom-1' id='clear-checked-nodes'>Reset</button>

					</div>
					<div class="not-rounded" id="node-list" style="max-height: 450px;height: 450px; overflow:auto;"></div>
				</div>

				<div class="tab-pane not-rounded" id="edges-panel" role="tabpanel">
					<label style="margin-left: 20%; margin-right: 20%; color:whitesmoke" for="link-slider"><b>Modify Links Length</b></label>
					<input id="link-slider" class="link-slider" type="range" min="0" max="1" step="any" value="0.7"/>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}

