{% extends "layout.html" %}
{% block title %}ContNext Viewer—Network Graph{% endblock %}

{% block scripts %}
    {% include "dependencies/jquery_dependencies.html" %}

	<!-- Block for Network dependencies -->

    {% include "dependencies/graph_css.html" %}
    {% include "dependencies/graph_js.html" %}

	<script type="text/javascript">
        // If graph data render the graph
		let network = {{ network | safe }};
    </script>

    <script type="text/javascript" src='{{ url_for('static', filename='js/manyBodyReuse.js') }}'></script>
	<script src="{{ url_for('static', filename='js/graph_controller.js') }}"></script>

{% endblock %}


{% block content %}
<head>
    <title>Network Graph Explorer</title>
</head>
<body>

<div class="container container-fluid" style="max-width: 90%">
	<h4 class="text-center" style="margin-top:20px"> Network: {{ network_id}} | Node: {{ node }} </h4>
	<p class="text-center" style="margin-top:10px"> Connectivity: {{ node }} | Rank: {{ node }} | Housekeeping: {{ node }} </p>

	<div class="row" style="margin-right: 0; margin-bottom:20px; margin-top:20px"><!-- visualization row -->
		<div class="col-8">
			<div id="graph-chart"></div>
		</div>
		<div class="card col" id="panel"
			 style="max-height: 585px;height: 585px;padding-right: 0;padding-left: 0; margin-bottom:0">

			<!-- Nav tabs -->
			<ul class="nav nav-pills mb-2">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#nodes-panel">Nodes</a>
				</li>
				<li>
					<a class="nav-link" data-bs-toggle="tab" href="#edges-panel">Edges</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane not-rounded active" id="nodes-panel" role="tabpanel">
					<div class="input-group form-inline">
						<button class='btn btn-outline-primary' id='get-checked-nodes'>Show
							Selected </button>
						<input placeholder="Search nodes" id="node-search" class="form-control not-rounded"
						   aria-describedby="sizing-addon1" type="text"/>
					</div>
					<div class="not-rounded2" id="node-list" style="max-height: 450px;height: 450px; overflow:auto;"></div>
				</div>

				<div class="tab-pane not-rounded" id="edges-panel" role="tabpanel">
					<label style="margin-left: 20%; margin-right: 20%;" for="link-slider"><b>Modify Links Length</b></label>
					<input id="link-slider" style="width: 80%; margin-bottom: 5px; margin-top: 5px;
					 margin-left: 10%; margin-right: 10%;"
															class="text-center" type="range" min="0"
															max="1"
															step="any" value="0.7"/>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}

