{% extends "layout.html" %}
{% block title %}ContNext Viewer—Home{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
{% endblock %}

{% block scripts %}
	    {{ super() }}
	    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    	<script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}


{% block content %}
    <header>
    </header>
    <body>

    <!–– Box with site name, logo and quick summary of application -->

        <div class="container" style="margin-top: 50px" >
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img src="{{ url_for('static', filename='img/placeholder_img.png') }}" alt="Logo">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                        <h1>ContNext Viewer</h1>
                        <p>A web application for ContNext. See our {{ url_for('tutorial') }} tutorial on how to get started.</a>
                        </p>
                </div>
            </div>
        </div>

    <!–– Search bar -->

        <div class="container" style="margin-top: 50px" >
            <form class="row 3-g needs-validation col-md-11" method="post" autocomplete="on">
                  <div class="col-md-3 m-auto">
                      <select class="form-select" name="queryOptions" aria-expanded="false">
                        <option value="TISS" selected>Tissues</option>
                        <option value="CELL" disabled>Cell Lines</option>
                        <option value="CELT" disabled>Cell Types</option>
                        <option value="SPEC" disabled >Species</option>

            <         </select>
                  </div>
                  <div class="col-md-7 m-auto">
                    <input type="text" class="form-control" name="query" id="input-q" placeholder="Gene of interest" autocomplete="on" required>
                  </div>
                  <div class="col-md-1 m-auto">
                      <input type="submit" class="btn btn-primary"/>
                  </div>
				  <div id="match-list"></div>

           </form>
        </div>
	</body>

{% endblock %}

