<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap & CSS -->
    {% include "dependencies/bootstrap_css.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
	{% block scripts %}{% endblock %}

</head>
<body>

    <div class="container">

    </div>

<!-- Navigator -->

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <header class="navbar-brand">ContNext Viewer</header>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
			<li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Getting Started
              </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="{{ url_for ('about') }}">About ContNext</a></li>
					<li><a class="dropdown-item" href="{{ url_for ('tutorial') }}">Tutorial</a></li>
				  </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for ('imprint') }}">Imprint</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<!-- Content -->

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

	<!-- Footer -->

    <div class="container-fluid">
	  <footer class="d-flex flex-wrap py-3 my-4 border-top col-12" style="bottom:0;">
		<div class="d-flex align-items-center">
		  <span class="text-muted">© 2021 Company, Inc</span>
		</div>
	  </footer>
    </div>


	<!-- Load Bootstrap & JS -->
    {% include "dependencies/bootstrap_js.html" %}
</body>
</html>