:root {
  --primary: #336021FF;
  --accent: #FF3D85;
  --secondary: #51803e;
  --success: #35bb78;
  --info: #05e152;
  --warning: #FAC14D;
  --danger: #FF4943;
  --grey: #B4B2C5;
  --dark: #273626;
  --light: #F6F5FC;
}

address {
  display: block;
  font-style: italic;
}

body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    color: #273626;
    background-color: whitesmoke;
}

a {
    color: #117c2a;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
  color: #49a65f;
  text-decoration: underline;
}

a:focus {
  color: #49a65f;
  text-decoration: underline;
}

/* Nav Bar */
.navbar {
    min-height: 70px;
    background-color: #51803e;
}
.navbar-brand{
    color: whitesmoke;
}
.navbar-nav {
    flex-shrink: 0;
}
.nav-link{
    color: whitesmoke
}
.nav-link:hover {
    color: #b4dcbe
}
.nav-link:focus {
    color: #b4dcbe
}
.link-slider {
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;

    margin-left: 10%;
    margin-right: 10%;
}

/* Search Cards */
.card{
    margin: 60px;
    padding: 10px;
    background-color: #51803e
}
.card-header{
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
}
.card-body{
    color: whitesmoke;
}
.btn-custom-1 {
    background-color: whitesmoke ;
    color: black;
    border: 1px solid #336021FF;

}
.btn-custom-1:hover {
    background-color: #b2e5a6;
    color: black;
    border: 1px solid white;
}

/* Results Div*/
.container-results {
    background-color: #b2e5a6;
    margin-top:30px;
    margin-left:100px;
    margin-right:100px;
}
.card-header-results{
    padding: 10px;
    color: #273626;
    font-weight: bold;
}
.card-results-body {
    color: #273626;
    margin-bottom: 0;
}

/* Explorer */
.card-results{
    max-height: 585px;
    min-height: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.tab-pane{
    background-color: #51803e;
    padding: 20px;
}
.nav-link-results{
    color: whitesmoke;
    text-align: justify;
    background-color: #51803e;
    padding: 10px;
    border-radius: .25rem;
    margin: 0;
    width: 100%;
}

.nav-link-results:active{
    color: whitesmoke;
    text-align: justify;
    background: 0 0;
    padding: 10px;
    border-radius: .25rem;
    text-decoration: none;
    margin: 0;
    width: 100%;
}
