{% extends "layout.html" %}
{% block title %}ContNeXt Viewer—About{% endblock %}
{% block content %}

<div class="container container-fluid" style="max-width: 80%">

	<h4 class="text-center" style="margin-top:20px"> About ContNeXt Viewer </h4>
	<img style="float: left; padding-right: 10px; margin-bottom: 20px;" src="{{ url_for('static', filename='img/simple_logo.png') }}"
		 height="300" width="300" alt="Logo" class="d-inline-block align-text-centre">
	<p class="mb-2" style="padding-top:50px; padding-bottom:50px;"> ContNeXt Viewer is web application that allows the exploration of comprehensive context-specific portraits
		of biological processes using gene expression data, and the change in such portraits across different contexts.
		The variability in such portraits gives rise to the diverse functional behaviors of biological systems.
		<br>
		<br>
		ContNeXt's data can be downloaded directly from the project's <a href='https://zenodo.org/record/5831786'>Zenodo</a> page.
		<br>
		<br>
		ContNeXt Viewer is developed and maintained in an academic capacity by the
		<a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">Fraunhofer SCAI Department of Bioinformatics</a>.

</div>
{% endblock %}

